
<br>
<div class="content">
    <div class="container-fluid">

        <div class="row">           
            
            <div class="col-lg-6">
              <app-anos-com-multiplos-vencedores></app-anos-com-multiplos-vencedores>
              <app-produtores></app-produtores>
            </div>

            <div class="col-lg-6">
                <app-estudios-vitorias></app-estudios-vitorias>
                <app-filmes-vencedores-anos></app-filmes-vencedores-anos>               
            </div>
           
        </div>
          
    </div>
</div>